
	<!-- jQuery -->
	<script src="/admin/assets/js/jquery-3.2.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/admin/assets/js/popper.min.js"></script>
	<script src="/admin/assets/js/bootstrap.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<script src="/admin/assets/plugins/raphael/raphael.min.js"></script>
	<script src="/admin/assets/plugins/morris/morris.min.js"></script>
	<script src="/admin/assets/js/chart.morris.js"></script>

	<!-- Custom JS -->
	<script src="/admin/assets/js/script.js"></script>

	<script>
		function maxLengthCheck(object) {
			if (object.value.length > object.maxLength) {
				object.value = object.value.slice(0, object.maxLength);
			}
		}
	</script>

</body>

<!-- Mirrored from dreamguys.co.in/demo/OPD Management System/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:34 GMT -->

</html>